.deps
.libs
Makefile
Makefile.in
autom4te.cache
aclocal.m4
libtool
config.log
config.status
config_auto.h
configure
stamp-h1
*.o
*.lo
*.la
config/config.guess
config/config.sub
config/missing
config/depcomp
config/ltmain.sh
config/install-sh
src/endianness.h
